{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>UAV-Control</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css " %}">
    <link rel="stylesheet" href="{% static "css/style.css " %}">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- start amaps -->
    <link rel="stylesheet" href="{% static "css/amaps.css" %}">
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=8ef1ddfea330aa3124a11f4aeaac187e"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <!-- end amaps -->
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">UAV-Control</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav right">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#" id="test_websocket">测试WebSocket连接</a></li>
                    <li><a href="#" id="start_progress">启动进程</a></li>
                    <li><a href="#" id="test_progress">测试进程连接</a></li>
                    <li><a href="#" id="stop_progress">关闭进程</a></li>
                    <li><a href="#" id="get_location">获取坐标</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-10 amaps">
                <div id="container"></div>
                <div class="button-group">
                    <input id="setFitView" class="button" type="button" value="地图自适应显示" />
                </div>
                <div class="info-tip">
                    <div id="centerCoord"></div>
                    <div id="tips"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h1>Log</h1>
                <div id="messagecontainer">
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/bootstrap.min.js " %}"></script>
    <script src="{% static "js/app.js " %}"></script>
    <script src="{% static "js/amaps.js" %}"></script>
</body>

</html>
